*00_own-practice
/02_coursework/nxt100_mini_project/01_projects/flexbox101
/02_coursework/nxt100_mini_project/02_practice/flexbox_miscellaneous
/02_coursework/nxt100_mini_project/01_projects/js101
/02_coursework/nxt100_mini_project/01_projects/grid101
/02_coursework/nxt100_mini_project/01_projects/react101
/02_coursework/nxt100_mini_project/01_projects/quiz_project
/nxt100/02_coursework/nxt100_mini_project/01_projects/accordion_project 